<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3X6-IwjH_Ial8cUCfbOlelEGk1GPJp2E</string>
	<key>GCM_SENDER_ID</key>
	<string>886039521560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sendbird.sample.sbm.reactnative</string>
	<key>PROJECT_ID</key>
	<string>sendbird-70574</string>
	<key>STORAGE_BUCKET</key>
	<string>sendbird-70574.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886039521560:ios:2f37cd8870e78367fc566d</string>
</dict>
</plist>